/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .component{
   display:flex;
   width:500px;
 }
 .todoId{
   flex:1;
   border:1px solid;
 }
.todoText{
  flex:1;
  border:1px solid;
}
.plan_date{
  flex:1;
  border:1px solid;
}
.done{
  flex:1;
  border:1px solid;
}
.todoDelete{
  flex:1;
  border:1px solid;
}
.todoEdit{
  flex:1;
  border:1px solid;
}
.superComponents{
  width:500px;
  margin:0 auto;
}
.accountId{
  flex:1;
  border:1px solid;
}
.username{
 flex:1;
 border:1px solid;
}
.password{
 flex:1;
 border:1px solid;
}
.accountEdit{
 flex:1;
 border:1px solid;
}
.accountDelete{
 flex:1;
 border:1px solid;
}
